.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50%;
    margin: 20px auto;
    /* border: 1px solid #ccc;
    border-radius: 20px; */
  }
  
  input[type='text'] {
    height: 100%;
    width: 80%;
    padding: 0 20px;
    border: none;
    font-size: 18px;
  }
  
  
